.parallax {
    position: relative;
    padding-top: 156px;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.daniela {
    display: block;
    z-index: 10;
    height: 803px;
    padding-left: 80px;
}

.cartagena {
    position: absolute;
    height: 449px;
    right: -2px;
    top: 171px;
}

.coffee-beans {
    position: absolute;
    height: 278px;
    right: -16px;
    top: 554px;
    z-index: 2;
}

.colombian-flag {
    position: absolute;
    height: 269px;
    right: 123px;
    top: 0;
}

.palm-tree-one {
    position: absolute;
    height: 613px;
    right: 390.41px;
    top: 204px;
}

.palm-tree-two {
    position: absolute;
    height: 613px;
    right: 241.41px;
    top: 300px;
}

.orchid {
    position: absolute;
    height: 303px;
    right: 0;
    top: 163px
}

.guacamaya {
    position: absolute;
    height: 142px;
    left: 590px;
    top: 158px;
}

.bird {
    position: absolute;
    height: 166px;
    right: 590px;
    top: 66px;
}

.harrogate {
    position: absolute;
    height: 558px;
    left: -5px;
    top: 87px;
}

.big-ben {
    position: absolute;
    height: 558px;
    left: 381px;
    top: 155px
}

.telephone-cabin {
    position: absolute;
    height: 302px;
    left: 545px;
    top: 460px;
}

.bus {
    position: absolute;
    height: 209px;
    left: 0px;
    top: 540px;
}

.computer {
    position: absolute;
    height: 269px;
    left: 199px;
    top: 578px;
}

.colombian-hat {
    position: absolute;
    height: 197PX;
    right: 300px;
    top: 650px;
}

.my-story-section {
    margin-top: 50px;
}

.my-story-section p {
    line-height: 50px;
    text-align: center;
    margin-bottom: 40px;
}

@media (max-width: 1520px) {

    .bird,
    .guacamaya {
        display: none;
    }

}

@media (max-width: 1343px) {

    .telephone-cabin,
    .palm-tree-one {
        display: none;
    }

    .colombian-hat {
        top: 650px;
        right: 260px;
    }

    .palm-tree-two {
        right: 261.41px;
        top: 250px;
    }

    .bird {
        display: block;
    }

    .daniela {
        height: 735px;
    }
}

@media (max-width: 1020px) {
    .guacamaya {
        display: block
    }
}

@media (max-width: 890px) {

    .palm-tree-two,
    .colombian-hat,
    .big-ben,
    .computer {
        display: none;
    }

    .coffee-beans {
        right: -8px;
    }

    .cartagena {
        height: 480px;
    }

    .daniela {
        height: 690px;
    }

    .coffee-beans {
        height: 250px;
    }

}

@media (max-width: 750px) {
    .bird {
        left: 20px;
        top: 187px;
    }

    .guacamaya {
        right: 0;
        top: 100px;
        height: 100px;
    }

    .bus {
        left: -80px;
        top: 540px;
    }

}


@media (max-width: 640px) {
    .big-ben {
        display: block;
        left: 400px;

    }

    .orchid,
    .coffee-beans {
        z-index: 2;
    }


}

@media (max-width: 585px) {
    .cartagena {
        left: 0;
        top: 0;
    }

    .bird {
        display: none;
    }

    .coffee-beans {
        height: 200px;
        top: 625px;
    }

    .harrogate {
        left: -8px;
    }

    .bus {
        display: none;
    }

    .computer {
        display: block;
        left: 0px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        height: 200px;
    }
}

@media (max-width: 415px) {

    .big-ben,
    .orchid,
    .colombian-flag {
        display: none;
    }

    .harrogate {
        left: 0px;
    }

    .computer {
        left: -80px;
    }

    .coffee-beans {
        height: 150px;
    }


}

@media (max-width: 385px) {
    .daniela {
        height: 650px;
    }
}