.hero-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.home-title {
    font-size: 8rem;
    font-family: var(--font-headings);
    font-weight: 400;
    max-width: 821px;
    line-height: 1.25em;
}

.web-developer-title {
    -webkit-text-fill-color: var(--bg-main-color);
    -webkit-text-stroke: 2.1px var(--dark-blue);
}

.main-section {
    flex-grow: 1;
    overflow: hidden;
}

.main-section-container {
    display: flex;
    align-items: center;
}

.main-section-content {
    padding-top: 90px;
    padding-bottom: 30px;
    flex: 6;
    position: relative; /* so that it goes on top of the image */
}

.main-section-img-wrapper {
    max-width: 700px;
    flex: 4;
    margin-right: -100px;
    margin-left: -100px;
}

@media (max-width: 1224px) {
    .home-title {
        font-size: 7rem;
    }
}

@media (max-width: 1064px) {
    .home-title {
        font-size: 6rem;
    }
}

@media (max-width: 904px) {
    .home-title {
        font-size: 5rem;
    }
}

@media (max-width: 800px) {
    .main-section-content {
        text-align: center;
    }

    .main-section-img-wrapper {
        display: none;
    }
}

@media (max-width: 620px) {
    .home-title {
        font-size: 4rem;
    }
}

@media (max-width: 580px) {
    .main-section-content {
        font-size: 1.2rem;
    }
}
