.hero-section {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.section {
    margin-top: 90px;
}

.web-developer-title {
    -webkit-text-fill-color: var(--bg-main-color);
    -webkit-text-stroke: 2.1px var(--dark-blue);
}

.contact-details-section {
    position: absolute;
    bottom: 0;
    left: 0;
}