.my-work-showcase-section {
    position: relative;
    padding-top: 15px;
    padding-bottom: 80px;
    overflow-x: hidden;
}

.my-work-section-title {
    font-size: var(--h2);
    font-family: var(--font-headings);
    font-weight: 400;
    margin-bottom: 15px;
    text-align: center;
}

.computer-my-work-section {
    display: block;
    width: 100%;
}

.computer-wrapper {
    position: relative;
    max-width: 910px;
    margin-inline: auto;
}

.computer-frame {
    position: absolute;
    left: 10%;
    top: 5.3%;
    width: 80.2%;
    height: 73.9%;
    overflow-y: hidden;
    border-radius: 4px;
}

.computer-frame-inner {
    height: 100%;
    overflow-y: auto;
}

.computer-frame-img {
    display: block;
    width: 100%;
}

.visit-website-link {
    text-decoration: none;
    color: var(--orange);
    font-size: 1.8rem;
}

.stefanos-business-case {
    line-height: 50px;
}

.stefanos-business-case-paragraph {
    margin-bottom: 30px;
}

.stefanos-business-case-general-info {
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 30px;
}

@media (max-width:920px) {

    .my-story-section p,
    .stefanos-business-case {
        line-height: 36px;
    }

    .stefanos-business-case-paragraph {
        margin-bottom: 20px;
    }

    .my-work-showcase-section {
        padding-bottom: 40px;
    }

    .visit-website-link {
        font-size: 1.5rem;
    }

    .my-work-section-title {
        font-size: 4.30rem;
    }

}

@media (max-width: 650px) {

    .my-work-section-title {
        font-size: 3.5rem;
    }

    .visit-website-link {
        font-size: 1.2rem;
    }

    .my-story-section p,
    .stefanos-business-case {
        line-height: 30px;
    }

    .my-work-showcase-section {
        padding-bottom: 30px;
    }
}

@media (max-width: 450px) {
    .my-work-section-title {
        font-size: 2.8rem;
    }

    .stefanos-business-case-general-info {
        flex-direction: column;
        gap: 5px;
    }

    .visit-website-link-wrapper {
        order: -1;
    }

}


@media (max-width: 340px) {
    .my-work-section-title {
        font-size: 2rem;
    }

}