:root {
    --bg-main-color: #FFF7E7;
    --dark-blue: #2C3148;
    --orange: #E15C31;
    --ligth-orange: #F2B69B;
    --hover-light-orange: #EB8F6D;
    --black: #000000;
    --small-text: 1.2rem;
    --medium-text: 1.5rem;
    --nav-font: 1.2rem;
    --h1: 8.44rem;
    --h2: 5.31rem;
    --font-headings: "dm serif display", serif
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: lato, sans-serif;
    font-size: var(--medium-text);
    background-color: var(--bg-main-color);
    color: var(--dark-blue);
}

.section,
.navbar,
.contact-details-section {
    padding-inline: 3.75rem;
}

.navbar {
    margin-top: 30px;
    position: relative;
    z-index: 100;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 60px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.44rem;
}

.nav-link {
    text-decoration: none;
    cursor: pointer;
    color: var(--dark-blue);
    font-size: var(--nav-font);
    border-bottom: transparent solid 1px;
    text-align: center;
}

.nav-link:hover {
    color: var(--orange);
}

.nav-element {
    text-align: center;
}

.nav-btn {
    display: block;
    text-decoration: none;
}

.hamburger {
    width: 50px;
    padding: 10px;
    cursor: pointer;
    background: none;
    border: none;
    color: var(--dark-blue);
}

.hamburger svg {
    display: block;
}

.nav-close {
    display: none;
}

.container {
    max-width: 1330px;
    margin-inline: auto;
}

.primary-btn {
    background-color: var(--orange);
    color: var(--bg-main-color);
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    font-size: inherit;
    cursor: pointer;
}

.primary-btn:hover {
    background-color: var(--hover-light-orange);
}

.secondary-btn {
    background-color: var(--bg-main-color);
    color: var(--orange);
    border: var(--orange) solid 2px;
    padding: 15px 20px;
    border-radius: 20px;
    font-size: var(--nav-font);
    cursor: pointer;
}

.secondary-btn:hover {
    border: transparent solid 2px;
    background-color: var(--hover-light-orange);
    color: var(--dark-blue);

}

.contact-details-section {
    background-color: var(--hover-light-orange);
    width: 100%;
}

.contact-details-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
}

.email,
.phone-number {
    font-size: var(--small-text);
    text-decoration: none;
    color: var(--dark-blue);
    cursor: pointer;
}

.email:hover,
.phone-number:hover {
    color: var(--black);
    text-decoration: underline;
}

/* Utilities */

.mt-20px {
    margin-top: 20px;
}

.mb-20px {
    margin-bottom: 20px;
}

.mb-60px {
    margin-bottom: 60px;
}

.footer-mt {
    margin-top: 80px;
}

.text-align-justify {
    text-align: justify;
}

.overflow-hidden {
    overflow: hidden;
}


@media (min-width: 991px) {
    .nav-hamburger {
        display: none;
    }
}

@media (max-width: 990px) {
    .nav-links {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--bg-main-color);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        padding: 2rem;
        transform: translateX(-100%);
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    }

    .nav-links.show {
        transform: translateX(0);
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .nav-link,
    .nav-element {
        padding-block: 1rem;
        padding-inline: 3rem;
    }

    .nav-close {
        display: block;
        position: absolute;
        top: 42.5px;
        right: 3.75rem;
        width: 50px;
        padding: 10px;
        cursor: pointer;
        background: none;
        border: none;
    }
}

@media (max-width:920px) {

    .section,
    .navbar,
    .contact-details-section {
        padding-inline: 2.2rem;
    }

    :root {
        --medium-text: 1.2rem;
        --small-text: 0.95rem;
    }

    .footer-mt {
        margin-top: 55px;
    }

    .nav-logo {
        width: 50px
    }

    .nav-close {
        right: 2.2rem;
    }
}

@media (max-width: 650px) {

    :root {
        --medium-text: 1rem;
    }

    .section,
    .navbar,
    .contact-details-section {
        padding-inline: 1rem;
    }

    .footer-mt {
        margin-top: 45px;
    }

    .nav-logo {
        width: 40px
    }

    .nav-close {
        right: 1rem;
    }
}

@media (max-width: 329px) {
    .nav-close {
        right: 0.8rem;
    }
}

@media (max-width: 320px) {
    :root {
        --small-text: 0.7 5rem;
    }

    .section,
    .navbar,
    .contact-details-section {
        padding-inline: 0.8rem;
    }

    .footer-mt {
        margin-top: 40px;
    }

    .nav-logo {
        width: 30px
    }
}